.header_stu_login {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  gap: 12px;
}

.heafer_go_admin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span_padding {
  margin-top: -20px !important;
  margin-left: 20px;
}
