/* @font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Medium.ttf) format(truetype);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-ExtraBold.ttf) format(truetype);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Inter", sans-serif; */
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1380px;
  padding: 0 1px !important;
  margin: 0 auto;
}

.dark {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  /* background-color: rgb(78, 24, 128); */
}
